<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>

<body>
  <canvas id="<%= canvasId %>" width="<%= canvasWidth %>" height="<%= canvasHeight %>"></canvas>
  <script src="<%= akashicEngineFilename %>"></script>
  <script src="<%= mainFilename %>"></script>
</body>

</html>
